@font-face {
    font-family: 'Jaro';
    src: url(../../../static/fonts/Jaro-Regular-VariableFont_opsz.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Jaro;
    background-color: #F1E9C0;
}



.h1Ad_receita {
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #AD3826;
}

.divAd {
    text-align: center;
    color: #3C5F30;
}

#nome {
    border-radius: 5px;
    background-color: #CAC486;
    width: 30%;
    height: 40px;
    border: none;
    padding-left: 10px;
}

textarea {
    border-radius: 5px;
    background-color: #CAC486;
    width: 30%;
    border: none;
    padding-left: 10px;
}

.divButton {
    text-align: center;
}

.button {
    border-radius: 30px;
    background-color: #3C5F30;
    font-family: Jaro;
    width: 12%;
    padding: 0.6%;
    color: #CBE5C2;
    font-size: 110%;
    align-items: center;
    border: none;
    transition: 0.3s;
}

.button:hover {
    transform: scale(1.1);
}