* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Jaro;
    background-color: #F1E9C0;
}

header {
    background-color: #141414;
    color: #DBD69B;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header input {
    padding: 5px;
    width: 50%;
    height: 40px;
    border: none;
    border-radius: 50px;
}

header .user-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
}

header .user-info span:first-child {
    font-weight: bold;
}

nav {
    background-color: #000000;
    padding: 10px;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
}

h1 {
    margin-bottom: 20px;
    color: #AD3826;
}

@font-face {
    font-family: 'Jaro';
    src: url(../../../static/fonts/Jaro-Regular-VariableFont_opsz.ttf);
}

.space {
    letter-spacing: 0;
    font-size: 29px;
}

.Red {
    color: #B73939;
}

.Green {
color: #568745;
}

.Bege {
    color: #DBD69B;
}

#lupa {
    position: relative;
    right: 130px;
    color: #000000;
}

#user-icon{
    position: relative;
    left: 75px;
    font-size: 40px;
}

#linkadd {
    text-decoration: none;
    list-style: none;
}

.divAd {
    text-align: right;
    margin: 20px;
}

.h1Ad_receita {
    text-align: center;
}

label {
    border-radius: 30px;    
}