* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Jaro;
    background-color: #F1E9C0;
}

header {
    background-color: #141414;
    color: #DBD69B;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    text-decoration: none; 
}


header input {
    padding: 5px;
    width: 50%;
    height: 40px;
    border: none;
    border-radius: 50px;
}

header .user-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
}

header .user-info span:first-child {
    font-weight: bold;
}

nav {
    background-color: #000000;
    padding: 10px;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
}

h1 {
    margin-bottom: 20px;
    color: #AD3826;
}

@font-face {
    font-family: 'Jaro';
    src: url(../../../static/fonts/Jaro-Regular-VariableFont_opsz.ttf);
}

.space {
    letter-spacing: 0;
    font-size: 29px;
}

.Red {
    color: #B73939;
}

.Green {
    color: #568745;
}

.Bege {
    color: #DBD69B;
}

#user-icon{
    position: relative;
    left: 75px;
    font-size: 40px;
}

#linkadd {
    text-decoration: none;
    list-style: none;
}

.space img{
    width: 325px;
    height: 80px;
}


.divAd {
    /*text-align: right;*/
    /*margin: 20px;*/
    text-align: center;
    color: #3C5F30;
}

.h1Ad_receita {
    text-align: center;
}

textarea {
    border-radius: 30px;
    background-color: #CAC486;
    width: 30%;
    border: none;
}

#nome {
    border-radius: 30px;
    background-color: #CAC486;
    width: 30%;
    height: 40px;
    border: none;
}

.button {
    border-radius: 30px;
    background-color: #3C5F30;
    font-family: Jaro;
    width: 12%;
    padding: 0.6%;
    color: #CBE5C2;
    font-size: 110%;
    align-items: center;
}

.divButton {
    text-align: center;
}