@font-face {
    font-family: 'Jaro';
    src: url(../../../static/fonts/Jaro-Regular-VariableFont_opsz.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Jaro;
}

body {
    font-family: Jaro;
    background-color: #F1E9C0;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #AD3826;
}

form {
    max-width: 500px;
    margin: 0 auto;
    background-color: #F1E9C0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

label {
    color: #3C5F30;
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

#nomenav {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: #CAC486;
}

#botao {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #3C5F30;
    color: #CBE5C2;
    font-size: 110%;
    cursor: pointer;
    transition: 0.3s;
}

#botao:hover {
    transform: scale(1.1);
}
