@font-face {
    font-family: 'Jaro';
    src: url(../../../static/fonts/Jaro-Regular-VariableFont_opsz.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Jaro;
    background-color: #F1E9C0;
}

main {
    padding: 20px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #AD3826; 
}

.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.create-folder-section {
    margin: 40px 0;
    text-align: center;
}

.create-folder-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create-folder-form input[type="text"] {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 300px; /* Ajuste conforme necessário */
}

.create-folder-form button {
    background-color: #AD3826;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.create-folder-form button:hover {
    background-color: #9B2E21;
}

.error-message {
    color: red;
    margin-top: 10px;
}

.recipe-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto; 
}

.receitas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.card {
    background-color: #D2C190;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.nova-receita {
    background-color: #CAC486;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nova-receita:hover {
    transform: scale(1.05); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

#linkadd {
    text-decoration: none;
    list-style: none;
}

.nova-receita .plus {
    font-size: 36px;
    color: #AD3826;
}

.nova-receita p {
    margin-top: 10px;
    color: #AD3826;
    font-size: 24px;
}

.recipe-card {
    background-color: #FFF;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    text-align: center;
    background-color: #CAC486;
    position: relative; /* Mantém o link no card */
}

.recipe-card:hover {
    transform: scale(1.05); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.recipe-link {
    text-decoration: none; /* Remove sublinhado do link */
    color: inherit; /* Herda a cor do texto do card */
    display: flex; /* Torna o link um contêiner flexível */
    flex-direction: column; /* Alinha os elementos em coluna */
    justify-content: center; /* Centraliza verticalmente */
    align-items: center; /* Centraliza horizontalmente */
    height: 100%; /* Faz o link ocupar toda a altura do card */
    width: 100%; /* Faz o link ocupar toda a largura do card */
    padding: 20px; /* Adiciona padding para que o link cubra todo o card */
}

.recipe-card h2 {
    color: #AD3826;
    font-size: 24px;
    margin-bottom: 10px;
}

.stars {
    display: flex; /* Alinha as estrelas na mesma linha */
    justify-content: center; /* Centraliza as estrelas horizontalmente */
    margin-top: 10px; /* Adiciona espaço entre o título e as estrelas */
}

h2 {
    text-align: center; 
}
