@font-face {
    font-family: 'Jaro';
    src: url(../../../static/fonts/Jaro-Regular-VariableFont_opsz.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Jaro;
    background-color: #F1E9C0;
}

header {
    background-color: #141414;
    color: #DBD69B;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    text-decoration: none;
    color: inherit;
}

header input {
    padding: 5px;
    width: 50%;
    height: 40px;
    border: none;
    border-radius: 10px;
}

header .user-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

header .user-info span:first-child {
    font-weight: bold;
}

nav {
    background-color: #000000;
    padding: 10px;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #DBD69B;
}

main {
    padding: 20px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #AD3826; 
}

.receitas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.card {
    background-color: #D2C190;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.nova-receita {
    background-color: #CAC486;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nova-receita:hover {
    transform: scale(1.05); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.nova-receita .plus {
    font-size: 36px;
    color: #AD3826;
}

.nova-receita p {
    margin-top: 10px;
    color: #AD3826;
    font-size: 24px;
}


.space img{
    width: 325px;
    height: 80px;
}

#user-icon{
    position: relative;
    left: 75px;
    transition: transform 0.3s;
    font-size: 40px;
}

#user-icon:hover {
    transform: scale(1.1);
}

#linkadd {
    text-decoration: none;
    list-style: none;
}

h2 {
    text-align: center; 
}

.recipe-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto; 
}

.recipe-card {
    background-color: #FFF;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 23px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    text-align: center;
    background-color: #CAC486;
}

.recipe-card:hover {
    transform: scale(1.05); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.recipe-card h2 {
    color: #AD3826;
    font-size: 24px;
    margin-bottom: 10px;
    text-decoration: none;

}

.recipe-card a {
    text-decoration: none;
    color: inherit; 
}

#linkReceitas {
    text-decoration: none;
}
