@font-face {
    font-family: 'Jaro';
    src: url(../../../static/fonts/Jaro-Regular-VariableFont_opsz.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Jaro;
}

body {
    background-color: #F1E9C0;
}

.container {
    max-width: 1200px; 
    margin: 0 auto;
    padding: 20px;
}

h1 {
    margin-bottom: 20px;
    color: #AD3826;
}

.receitas-table,
.receitas-info-table {
    margin-top: 20px;
    padding: 20px;
    background-color: #F1E9C0;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.receitas-table h2,
.receitas-info-table h2 {
    color: #AD3826;
    margin-bottom: 10px;
}

.receitas-table table,
.receitas-info-table table {
    width: 100%;
    border-collapse: collapse;
}

.receitas-table th,
.receitas-info-table th,
.receitas-table td,
.receitas-info-table td {
    border: 1px solid #AD3826;
    padding: 10px;
    text-align: left; 
}

.receitas-table th,
.receitas-info-table th {
    background-color: #CAC486; 
    color: #AD3826; 
}

.receitas-table tr:nth-child(even),
.receitas-info-table tr:nth-child(even) {
    background-color: #F1E9C0; 
}

.receitas-table a,
.receitas-info-table a {
    color: #AD3826; 
    text-decoration: none; 
}

.receitas-table a:hover,
.receitas-info-table a:hover {
    text-decoration: underline; 
}

.receitas-info-table {
    margin-top: 40px; 
}

.receitas-info-table h3 {
    margin-top: 20px; 
    color: #AD3826; 
}

.receitas-info-table table {
    margin-top: 10px;
}

.styled-button {
    background-color: #ff4b5c;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

.styled-button:hover {
    background-color: #ff1e3c;
}
