@font-face {
    font-family: 'Jaro';
    src: url(../../../static/fonts/Jaro-Regular-VariableFont_opsz.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Jaro;
}

body {
    background-color: #F1E9C0;
}

.container {
    max-width: 1200px; /* Largura máxima da container */
    margin: 0 auto; /* Centraliza a container */
    padding: 20px; /* Preenchimento da container */
}

h1 {
    margin-bottom: 20px;
    color: #AD3826;
}

.receitas-table,
.receitas-info-table {
    margin-top: 20px; /* Espaçamento acima da tabela */
    padding: 20px;
    background-color: #F1E9C0; /* Cor de fundo das seções */
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra */
}

.receitas-table h2,
.receitas-info-table h2 {
    color: #AD3826; /* Cor dos títulos das tabelas */
    margin-bottom: 10px; /* Espaçamento abaixo dos títulos */
}

.receitas-table table,
.receitas-info-table table {
    width: 100%;
    border-collapse: collapse; /* Colapsa bordas para evitar espaços */
}

.receitas-table th,
.receitas-info-table th,
.receitas-table td,
.receitas-info-table td {
    border: 1px solid #AD3826; /* Borda das células */
    padding: 10px; /* Espaçamento interno das células */
    text-align: left; /* Alinhamento à esquerda do texto */
}

.receitas-table th,
.receitas-info-table th {
    background-color: #CAC486; /* Cor de fundo do cabeçalho */
    color: #AD3826; /* Cor do texto do cabeçalho */
}

.receitas-table tr:nth-child(even),
.receitas-info-table tr:nth-child(even) {
    background-color: #F1E9C0; /* Cor de fundo para linhas pares */
}

.receitas-table a,
.receitas-info-table a {
    color: #AD3826; /* Cor dos links */
    text-decoration: none; /* Remove sublinhado dos links */
}

.receitas-table a:hover,
.receitas-info-table a:hover {
    text-decoration: underline; /* Sublinha ao passar o mouse */
}

.receitas-info-table {
    margin-top: 40px; /* Espaço adicional acima da tabela de informações */
}

.receitas-info-table h3 {
    margin-top: 20px; /* Espaçamento acima do nome da receita */
    color: #AD3826; /* Cor dos títulos das informações */
}

.receitas-info-table table {
    margin-top: 10px; /* Espaçamento acima da tabela de informações */
}
