@font-face {
    font-family: 'Jaro';
    src: url(../../../static/fonts/Jaro-Regular-VariableFont_opsz.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Jaro;
}

body {
    font-family: Jaro;
    background-color: #F1E9C0;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #AD3826;
}

.timer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff; 
    padding: 20px; 
    border-radius: 10px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    margin: 20px auto; 
    width: 90%;
    max-width: 400px;
}

label {
    margin: 10px 0;
    color: #333;
}

input[type="number"] {
    width: 60px;
    padding: 5px; 
    border: 1px solid #ccc;
    border-radius: 5px; 
    margin-right: 10px;
    font-size: 16px;
}

.circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: #e0e0e0;
    position: relative;
    overflow: hidden;
    margin: 20px 0;
}

.circle-inner {
    width: 100%;
    height: 100%;
    background: #f44336;
    position: absolute;
    clip-path: inset(0% 0% 0% 0%);
    transition: clip-path 1s linear;
}

.timer-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 32px;
    font-weight: bold;
    color: white;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

button:hover:not(:disabled) {
    background-color: #45a049;
    transform: scale(1.05);
}

button:active:not(:disabled) {
    transform: scale(0.98);
}
