@font-face {
    font-family: 'Jaro';
    src: url(../../../static/fonts/Jaro-Regular-VariableFont_opsz.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Jaro;
    background-color: #F1E9C0;
}

h1 {
    margin-bottom: 20px;
    color: #AD3826;
}

#card {
    max-width: 800px; 
    margin: 20px auto; 
    background-color: #F1E9C0; 
    border-radius: 15px;
    padding: 20px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #AD3826;
    margin-bottom: 10px;
    text-align: left;
}

.colored-line {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #CAC486;
}

.deleteButton {
    text-align: center;
}

.delete-btn {
    border-radius: 30px;
    background-color: #3C5F30;
    font-family: Jaro;
    width: 12%;
    padding: 0.6%;
    color: #CBE5C2;
    font-size: 110%;
    align-items: center;
    text-align: center;
    border: none;
    transition: 0.3s;
    width: 30%;
    height: 40px;
}

.delete-btn:hover {
    transform:scale(1.1);
}

.show-star-rating {
    direction: ltr;
    display: inline-block;
    font-size: 30px;
}

.star-rating {
    direction: rtl;
    display: inline-block;
    font-size: 30px;
}
.star-rating input {
    display: none;
}
.star-rating label {
    color: #ddd;
    cursor: pointer;
    font-size: 40px;
}
.star-rating input:checked ~ label {
    color: #ffc107;
}
.star-rating input:hover ~ label {
    color: #ffc107;
}

.rate-btn {
    border-radius: 30px;
    background-color: #3C5F30;
    font-family: Jaro;
    width: 12%;
    padding: 0.6%;
    color: #CBE5C2;
    font-size: 110%;
    align-items: center;
    text-align: center;
    border: none;
    transition: 0.3s;
    width: 15%;
    height: 40px;
}

.rate-btn:hover {
    transform:scale(1.1);
}