* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Jaro', sans-serif;
    background-color: #F1E9C0;
}

header {
    background-color: #141414;
    color: #DBD69B;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    text-decoration: none; 
}


header input {
    padding: 5px;
    width: 50%;
    height: 40px;
    border: none;
    border-radius: 10px;
}

header .user-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
}

header .user-info span:first-child {
    font-weight: bold;
}

nav {
    background-color: #000000;
    padding: 10px;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #DBD69B;
}

h1 {
    margin-bottom: 20px;
    color: #AD3826;
}

@font-face {
    font-family: 'Jaro';
    src: url(../../../static/fonts/Jaro-Regular-VariableFont_opsz.ttf);
}

#user-icon{
    position: relative;
    left: 75px;
    font-size: 40px;
    transition: transform 0.3s;

}

#user-icon:hover {
    transform: scale(1.1);
}

#card {
    max-width: 800px; 
    margin: 20px auto; 
    background-color: #F1E9C0; 
    border-radius: 15px; /* Bordas arredondadas */
    padding: 20px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra leve */
}

h2 {
    color: #AD3826; /* Cor dos títulos das seções */
    margin-bottom: 10px; /* Espaço abaixo do título */
    text-align: left; /* Alinhamento à esquerda */
}

/* Estilos para as seções de Ingredientes, Modo de Preparo e Comentários */
.colored-line {
    padding: 10px; /* Espaçamento interno */
    border-radius: 5px; /* Bordas arredondadas */
    margin-bottom: 10px; /* Espaçamento entre os itens */
    background-color: #CAC486; /* Cor uniforme para todas as seções */
}

table {
    width: 100%; /* Largura total da tabela */
    border-collapse: collapse; /* Remove o espaço entre as bordas */
    margin-top: 20px; /* Espaço acima da tabela */
}

th, td {
    padding: 12px; /* Espaçamento interno nas células */
    text-align: left; /* Alinha o texto à esquerda */
    border: none; /* Remove bordas das células */
}

th {
    background-color: #2F4D23; /* Cor de fundo para o cabeçalho */
    color: #DBD69B; /* Cor do texto no cabeçalho */
}

td {
    background-color: #F1E9C0; /* Cor de fundo para as células */
    color: #141414; /* Cor do texto nas células */
}

tr:nth-child(even) td {
    background-color: #F1E9C0; /* Cor de fundo para linhas pares */
}

tr:hover {
    background-color: #D0CBA0; /* Cor de fundo ao passar o mouse sobre a linha */
}

.space img{
    width: 325px;
    height: 80px;
}