@font-face {
    font-family: 'Jaro';
    src: url(../../../static/fonts/Jaro-Regular-VariableFont_opsz.ttf);
}

body {
    font-family: Jaro;
    background-color: #F1E9C0;
}

#titulo1{
    color: brown;
}