{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'aplicacao/css/adicionar.css' %}">
    <title>Adicionar Receita</title>
</head>
<body>
    <h1>Adicionar Receita</h1>

    <form action="{% url 'adicionar' %}" method="POST">{% csrf_token %}
        <input type="text" name="nome" placeholder="Digite o nome da receita">
        <br>
        <br>
        <input type="submit" value="Enviar">
    </form>
</body>
</html>