{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'aplicacao/css/home1.css' %}">
    <title>Adicionar Receita à Pasta: {{ pasta.nome }}</title>
</head>
<body>
    {% include 'navbar.html' %}
    
    <h1>Adicionar Receita à Pasta: {{ pasta.nome }}</h1>

    <form method="post">
        {% csrf_token %}
        <label for="receita_id">Escolha uma receita:</label>
        <select name="receita_id" id="receita_id">
            {% for receita in receitas %}
                <option value="{{ receita.id }}">{{ receita.nome }}</option>
            {% endfor %}
        </select>
        <button type="submit">Adicionar Receita</button>
    </form>

    <a href="{% url 'aplicacao:minhas_pastas' %}">Voltar para Minhas Pastas</a>
</body>
</html>
