{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'aplicacao/css/adicionar_a_pasta.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Adicionar Receita à Pasta</title>
</head>
<body>
    {% include 'navbar.html' %}
    <h1>Adicionar Receita à Pasta</h1>
    <form method="post">
        {% csrf_token %}
        <label for="pasta_id">Selecione a pasta:</label>
        <select id="pasta_id" name="pasta_id">
            {% for pasta in pastas %}
                <option value="{{ pasta.id }}">{{ pasta.nome }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Adicionar">
    </form>
</body>
</html>