{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'aplicacao/css/adicionar.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <title>Adicionar Receita</title>
</head>
<body>
    <header>
        <a href="{%url 'aplicacao:home'%}">
            <div class="space">
                <img src="{% static 'aplicacao/imagens/logo_receitopedia.png' %}" alt="Logo Receitopedia">
            </div>
        </a>

        <input type="text" placeholder="" class="Navbar2">
        <i class="fa-solid fa-circle-user" id="user-icon"></i>
        <div class="user-info">
            <span>Nome Usuário</span>
            <span>@user</span>
        </div>
    </header>
    
    <nav>
        <ul>
            <li><a href="#">> Receitas Favoritas</a></li>
            <li><a href="#">> Sugestões do dia</a></li>
        </ul>
    </nav>
    <h1 class="h1Ad_receita">Adicionar Receita</h1>

    <div class="divAd">
        <form action="{% url 'aplicacao:adicionar' %}" method="POST">{% csrf_token %}
            <label for="nome">Nome da Receita:</label><br>
            <input type="text" id="nome" name="nome" maxlength="100" placeholder="" required><br><br>

            <label for="ingredientes">Ingredientes:</label><br>
            <textarea id="ingredientes" name="ingredientes" rows="5" cols="50" maxlength="1000" placeholder="" required></textarea><br><br>

            <label for="modo-preparo">Modo de Preparo:</label><br>
            <textarea id="modo-preparo" name="modo_preparo" rows="10" cols="50" maxlength="2000" placeholder="" required></textarea><br><br>
            
            <label for="comentarios">Comentarios:</label><br>
            <textarea id="comentarios" name="comentarios" rows="10" cols="50" maxlength="2000" placeholder="" required></textarea><br><br>

            <label for="estrelas">Quantas estrelas?</label><br>
            <select id="estrelas" name="estrelas">
                <option value="1">1</option>
                <option value="1.5">1.5</option>
                <option value="2">2</option>
                <option value="2.5">2.5</option>
                <option value="3">3</option>
                <option value="3.5">3.5</option>
                <option value="4">4</option>
                <option value="4.5">4.5</option>
                <option value="5">5</option>
            </select> <br> <br>

            <div class="divButton">
                <input type="submit" value="Enviar" class="button">
            </div>
            
        </form>
    </div>
</body>
</html>