{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'aplicacao/css/editar.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Editar Receita</title>
</head>
<body>
    {%include 'navbar.html'%}
    <h1>Editar Receita: {{ receita.nome }}</h1>

    <form action="{% url 'aplicacao:adicionar' %}" method="POST">{% csrf_token %}
        <label for="nome">Nome da receita:</label><br>
        <input type="text" id="nome" name="nome" maxlength="100" value="{{ receita.nome }}" required><br><br>

        <label for="ingredientes">Ingredientes:</label><br>
        <textarea id="ingredientes" name="ingredientes" rows="5" cols="50" maxlength="1000" required>{{ receita.ingredientes }}</textarea><br><br>

        <label for="modo-preparo">Modo de preparo:</label><br>
        <textarea id="modo_preparo" name="modo_preparo" rows="10" cols="50" maxlength="2000" required>{{ receita.modo_preparo }}</textarea><br><br>
        
        <label for="comentarios">Comentários:</label><br>
        <textarea id="comentarios" name="comentarios" rows="10" cols="50" maxlength="2000">{{ receita.comentarios }}</textarea><br><br>

        <div class="divButton">
            <input type="submit" value="Atualizar" class="button">
        </div>
    </form>

</body>
</html>
