{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'aplicacao/css/home.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Receitopédia</title>
</head>
<body>
    
    {% include 'navbar.html' %} 

    <main>
        <h1>Minhas receitas</h1>

        <div class="recipe-list">
            <section class="receitas">
                <a href="{%url 'aplicacao:adicionar'%}" id="linkadd">
                    <div class="card nova-receita">
                        <span class="plus">+</span>
                        <p>Nova Receita</p>
                    </div>
                </a>

                {% for Receita in todas_as_receitas %}
                    <a href="{% url 'aplicacao:visualizar' Receita.id %}" id="linkReceitas">
                        <div class="recipe-card">
                            <h2>{{Receita.nome}}</h2>
                        </div>
                    </a>
                {% endfor %}
            </section>
        </div>
    </main>
</body>
</html>
