{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'aplicacao/css/home.css' %}">
    <title>Receitopédia</title>
</head>
<body>
    <header>
        <div class="space">
            <span class="Red">R</span> <span class="Green">e</span> <span class="Bege">c</span> <span class="Red">e</span> <span class="Green">i</span> <span class="Bege">t</span> <span class="Red">o</span> <span class="Green">p</span> <span class="Bege">é</span> <span class="Red">d</span> <span class="Green">i</span> <span class="Bege">a</span>
        </div>

        <input type="text" placeholder="" class="Navbar2">
        <div class="user-info">
            <span>Nome Usuário</span>
            <span>@user7269321</span>
        </div>
    </header>
    
    <nav>
        <ul>
            <li><a href="#">Receitas Favoritas</a></li>
            <li><a href="#">Sugestões do dia</a></li>
            <li><a href="{%url 'aplicacao:visualizar_todos'%}">Ver todas as receitas</a></li>
        </ul>
    </nav>

    <main>
        <h1>Receitopedia</h1>
        <section class="receitas">
            <a href="{%url 'aplicacao:adicionar'%}">
                <div class="card nova-receita">
                    <span class="plus">+</span>
                    <p>Nova Receita</p>
                </div>
            </a>
        </section>
    </main>
</body>
</html>
