{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
    <link rel="stylesheet" href="{% static 'aplicacao/css/navbar1.css' %}">
</head>
<body>
    <header>
        <a href="{%url 'aplicacao:home'%}">
            <div class="space">
                <img src="{% static 'aplicacao/img/logo_receitopedia.png' %}" alt="Logo da Receitopédia">
            </div>
        </a>

        <input type="text" placeholder="Buscar">

        <div class="user-info">
            <span>Nome Usuário</span>
        </div>
    </header>
    
    <nav>
        <ul>
            <li><a href="#">> Minhas pastas</a></li>
        </ul>
    </nav>
</body>
</html>