{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sugestões</title>
    <link rel="stylesheet" href="{% static 'aplicacao/css/sugestoes.css' %}">
</head>
<body>
    {% include 'navbar.html' %} 

    <h1>sugestoes:</h1>
    <ul>
        {% for receita in receitas_sugestao %}
            <div class="cardSugestao">
                <h3>{{% receita.nome %}}</h3>
                <h5>{{% receita.user %}} (oficial!)</h5>

                <form action="{% url 'aplicacao:salvar_receita' receita.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Salvar</button>
                </form>
            </div>
        {% endfor %}
    </ul>
</body>
</html>