{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'aplicacao/css/timer.css' %}">
    <title>Temporizador</title>
</head>
<body>
    {% include 'navbar.html' %}
    
    <div class="timer-container">
        <h1>Temporizador</h1>
        <div class="timer-circle">
            <div class="timer-text">60s</div>
        </div>
    </div>
</body>
</html>
