{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'aplicacao/css/visualizarUm.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Visualizar</title>
</head>
<body>
    <header>
        <a href="{% url 'aplicacao:home' %}">
            <div class="space">
                <img src="{% static 'aplicacao/imagens/logo_receitopedia.png' %}" alt="Logo Receitopedia">
            </div>
        </a>

        <input type="text" placeholder="" class="Navbar2">
        <i class="fa-solid fa-circle-user" id="user-icon"></i>
        <div class="user-info">
            <span>Nome Usuário</span>
            <span>@user</span>
        </div>
    </header>

    <nav>
        <ul>
            <li><a href="#">> Receitas Favoritas</a></li>
            <li><a href="#">> Sugestões do dia</a></li>
        </ul>
    </nav>

    <main>
        <div id="card">
            <div id="title">
                <h1>{{ Receita.nome }}</h1>
            </div>
            <div class="list-container">
                <h2>Ingredientes</h2>
                <p class="colored-line ingredient">{{ Receita.ingredientes }}</p>

                <h2>Modo de Preparo</h2>
                <p class="colored-line preparo">{{ Receita.modo_preparo }}</p>
                
                <h2>Comentários</h2>
                <p class="colored-line comentarios">{{ Receita.comentarios }}</p>

                <h2>Estrelas</h2>
                <p class="colored-line comentarios">{{ Receita.estrelas }}</p>
                <form action="{% url 'aplicacao:excluir_receita' Receita.id %}" method="post">
                    {% csrf_token %}
                    <div class="deleteButton">
                    <button type="submit" class="delete-btn">Excluir Receita</button>
                    </div>
                </form>
                
            </div>
        </div>
    </main>
</body>
</html>
