{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'usuarios/css/login.css' %}">
    <title>Login</title>
</head>
<body>
    <h2>Entrar</h2>
    <div>
        <form method="POST" action="">
            {% csrf_token %}
            <div class="loginForm">
                <label for="username">Usuário:</label>
                <input type="text" id="username" name="username" required>
            
                <label for="password">Senha:</label>
                <input type="password" id="password" name="password" required>
                
                <br>

                <button type="submit" class="button">Login</button>
            </div>
        </form>
    </div>
    
    <h4>Não tem conta? <a href="{% url 'registrar' %}" id="links">Registre-se aqui</a></h4>
</body>
</html>